body{
    background-image: url(https://i.pinimg.com/736x/88/fd/ef/88fdef98c3c961cc3067b914e4ad8425.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;

    margin: 0;
    font-family: Arial, sans-serif;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}

h1, form, .menu-botao{
    position: relative;
    z-index: 2;
}

#menu-toggle{
    display: none;
}

.menu-botao{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5;

    padding: 12px 24px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    border: none;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    cursor: pointer;
}

nav{
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    padding-top: 120px;
    transition: 0.4s ease;
    z-index: 1;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

#menu-toggle:checked + .menu-botao + nav{
    left: 0;
}

.botao{
    display: inline-block;
    padding: 14px 28px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    text-decoration: none;
    transition: 0.3s ease;
}

.botao:hover{
    transform: translateX(6px);
}

h1{
    font-family: "Great Vibes", cursive;
    font-size: 12dvh;
    text-align: center;
    margin-top: 10dvh;

    background: -webkit-linear-gradient(#fff7ff, #9cc8ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form{
    margin: 5dvh auto;
    background: rgba(0,0,0,0.5);
    padding: 4dvh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    width: 50dvh;
    position: relative;
}

input, select{
    padding: 2dvh;
    border-radius: 16px;
    border: none;
    font-size: 3dvh;
}

button{
    padding: 2dvh;
    border-radius: 16px;
    border: none;
    background-color: #214058;
    color: #fff7ff;
    font-size: 3dvh;
    cursor: pointer;
}


