body{
    color: #57a8a8;
    background-image: url(https://i.pinimg.com/1200x/68/d3/d1/68d3d1d095e19380e35fc2ff302be4c0.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100dvh
}
nav, ul, h1, p, .botao {
    position: relative;
    z-index: 1;
}
body::before{
content: "";
position: fixed;
inset: 0;
background: rgba(0,0,0,0.3);
z-index: -1;
}
ul{
    display: flex;
    justify-content: center;
    gap: 270px;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: #57a8a8;
    text-decoration: none;
}
.botao{
    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(#57a8a8, #455a77);
    color:#fff7af;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: none;
    font-size: 4dvh;
    transition: 0.3s ease;
    font-family: "Great Vibes", cursive;
}
.botao:hover{
transform: translateY(-1dvh);
box-shadow: none;
}
h1{
    color: #fff7af;
    margin-top: 20dvh;
    text-align: center;
    font-size: 8dvh;
    font-family: "Great Vibes", cursive;
}
p{
    color: #fff7af;
    text-align: center;
    padding: 5dvh;
    font-size: 4dvh;
    font-family: "Courier Prime", monospace;
}