body{
    background-image: url(https://i.pinimg.com/1200x/2f/d3/db/2fd3db320e907cfe404dcaf345c033ed.jpg);
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100dvh;
}
.carousel{
    display: flex;
    gap: 7dvh;
    overflow-x: auto;
    padding: 5dvh;
    scroll-snap-type: mandatory;
    scrollbar-width: auto;
    -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar{
    heigh: 5dvh;
}
@media (max-width: 1024px){
   .carousel{
      scrollbar-width: none;
   }

   .carousel::-webkit-scrollbar{
      display: none;
   }
}
.carousel img{
    width: 25dvh;
    height: auto;
    scroll-snap-align: start;
    flex-shrink: 0;
}
h1{
    font-family: "Great Vibes", cursive;
    font-size: 10dvh;
    margin-top: 6dvh;
    text-align: center;
    background: -webkit-linear-gradient(#fff7af, #9cc8ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#menu-toggle{
    display: none;
}

.menu-botao{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;

    padding: 12px 24px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    border: none;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    cursor: pointer;
}

nav{
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    padding-top: 120px;
    transition: 0.4s ease;
    z-index: 1;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}

#menu-toggle:checked + .menu-botao + nav{
    left: 0;
}

.botao{
    display: inline-block;
    padding: 14px 28px;
    font-family: "Great Vibes", cursive;
    font-size: 4dvh;
    border-radius: 30px;
    background: linear-gradient(#57a8a8, #455a77);
    color: #fff7af;
    text-decoration: none;
    transition: 0.3s ease;
}

.botao:hover{
    transform: translateX(6px);
}
